@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Preahvihear";
  src: url("../public/Preahvihear.ttf");
}

h2 {
  color: white;
  font-family: "Preahvihear";
}

.exgradient {
  background: linear-gradient(110.49deg, #130428 19.95%, #251043 67.64%, #38126D 107.08%, #261045 156.61%, #190634 183.21%);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

.exgradient2 {
  background: linear-gradient(95.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

.exgradient3 {
  background: linear-gradient(95.56deg, #130428 0.58%, #251043 16.32%, #38126D 29.33%, #261045 45.66%, #190634 54.44%);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

.exgradient4 {
  background: linear-gradient(149.88deg, #130428 37.22%, #251043 70.43%, #38126D 97.89%, #261045 132.38%, #190634 150.9%);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
}

h3 {
  color: white;
  font-family: "Preahvihear";
}

p {
  font-family: "Poppins";
}

.cube-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(-20deg);
}

.container {
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  animation: animate 5s linear infinite;
}

.gradient {
  /* background-image: radial-gradient( rgba(149, 84, 209, 100), rgba(50, 15, 113, 0)); */
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.container .cube {
  z-index: 2;
}

.container .cube:nth-child(2) {
  z-index: 1;
  translate: -60px -60px;
}

.container .cube:nth-child(3) {
  z-index: 3;
  translate: 60px 60px;
}

.container .cube div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}

.container .cube div span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #dcdcdc;
  z-index: calc(1 * var(--i));
  transition: 1.5s;
}


.container .cube div span:hover {

  transition: 0s;
  background: rgb(20 184 166);
  filter: drop-shadow(0 0 20px rgb(20 184 166));
}

.container .cube div span::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #fff;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}

.container .cube div span:hover::before {
  transition: 0s;
  background: rgb(20 184 166);
  filter: drop-shadow(0 0 20px rgb(20 184 166));
}

.container .cube div span::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
}

.container .cube div span:hover::after {
  transition: 0s;
  background: rgb(20 184 166);
  filter: drop-shadow(0 0 20px rgb(20 184 166));
}

@media (max-width: 768px) {}